body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

input,
select {
  border: 2px solid lightgrey;
}

input:focus,
select:focus {
  border: 2px solid darkgrey;
}

header {
  background-color: lightgrey;
  width: 100vw;
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

header li {
  margin-right: 0.2em;
  display: inline;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  font-weight: bold;
}

.flip-types {
  margin-top: 4vh;
  font-size: 5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flip-types li {
  text-align: center;
}

.total-flips {
  margin-top: 5vh;
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.total-flips li {
  display: inline;
}

.button-toss {
  margin-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-toss button {
  background-color: lightgrey;
  border: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding: 2vh 14vw;
  text-align: center;
  display: inline-block;
  font-size: 3vh;
}

.button-toss button:hover {
  font-weight: bold;
}

.button-toss button:active {
  -webkit-transform: translateY(0.15vh);
          transform: translateY(0.15vh);
  background-color: grey;
}

.settings {
  margin-top: 4vh;
  font-size: 2.75vh;
}

.settings input,
.settings select {
  height: 3vh;
  width: 40vw;
  font-size: 2.75vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.settings select {
  display: block;
  background: none;
  line-height: 3vh;
}

.settings .section ul {
  margin-bottom: 0.5vh;
  margin-left: 5vw;
  display: inline-block;
}

.button-settings {
  margin-top: 2vh;
  background-color: lightgrey;
  width: 100vw;
}

.button-settings .settings-button {
  border: none;
  background: none;
  padding-top: 0.2em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.button-settings .settings-button:active {
  -webkit-transform: translateY(0.15vh);
          transform: translateY(0.15vh);
}

.button-settings .settings-button:active:hover svg {
  fill: white;
}

.button-settings .settings-button:active svg {
  fill: white;
}

.button-settings .settings-button:hover svg {
  fill: grey;
}

.button-settings .button-reset {
  background: none;
  border: none;
  border-left: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  font-size: 2vh;
  vertical-align: top;
  font-size: 3vh;
  padding: 0 3vw;
  height: 7vh;
}

.button-settings .button-reset:hover {
  font-weight: bold;
}

.button-settings .button-reset:active {
  -webkit-transform: translateY(0.15vh);
          transform: translateY(0.15vh);
  background-color: darkgrey;
}

.button-settings svg {
  margin-bottom: 0;
  pointer-events: none;
  width: 6vh;
  height: 6vh;
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  margin-top: auto;
}

.footer .inside {
  margin-top: 2vh;
  background-color: lightgrey;
  height: 4vh;
}

.lds-circle {
  display: inline-block;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

.lds-circle > div {
  display: inline-block;
  width: 3.5vh;
  height: 3.5vh;
  margin: 0;
  border-radius: 50%;
  background: lightgrey;
  -webkit-animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@-webkit-keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}
/*# sourceMappingURL=main.css.map */